*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;

}

:root {
    --cell-size: 150px;
    --mark-size: calc(var(--cell-size)*.9)
}

.board {
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3, auto);

}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: var(--mark-size);
    color: crimson;
}



.center {
    margin-top: 50px;
    margin-bottom: -200px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.btn {
    padding: 20px;
    background-color: gold;
    font-size: calc(var(--mark-size)*.5);
}